{% extends "base.html.twig" %}

{% block body %}

<section class="mx-3 d-flex justify-content-around">
 
 
		{% for product in products %}
	
        <article class="  text-center border border-dark border-2 m-5 p-5">
			
				
					<h3 class="card-header">{{ product.titre }}</h3>
                    <div class="metadata">Ajouter le {{ product.createdAt|date('d/m/Y à H:i:s') }} </div>
					<img src="{{ product.photo }}" class="w-100" alt="Image du véhicule">
					<div class="card-body">
						<p class="card-text">{{ product.description }}</p>
						<p class="card-text text-end fw-bold">{{ product.couleur }}</p>
                        <p class="card-text text-end fw-bold">{{ product.collection }}</p>
                        <p class="card-text text-end fw-bold">{{ product.prix }}€</p>
                        {# <p class="card-text text-end fw-bold">{{ product.stock }}</p> #}
					</div>
				
					<div class="card-body text-end">
						<a href="{{ path('product_show', {id: product.id}) }}" class="card-link btn btn-primary">Voir l'article</a>
					</div>
				
				
			
        </article>
		{% endfor %}

 
</section>


{% endblock %}