{% extends 'base.html.twig' %}



{% block body %}
<h1 class="text-center">Votre panier</h1>


{% if items %}
{#  si j'ai des produits dans mon panier, j'affiche son contenu #}

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Couleur</th>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in items %}

                <tr>
                    <td><img src="{{item.product.photo}}" class"width="60" height="60"" alt=""></td>
                    <td>{{ item. product.couleur}}</td>
                    <td>{{ item.product.titre }}</td>
                    <td>{{ item.product.prix }}</td>
                    <td>{{ item.Quantity }}</td>
                    <td >{{ item.product.prix * item.Quantity }}€</td>
                    <td> 
                    <a href="{{ path('card_remove', {id:item.product.id}) }}" >
                        <i class="fas fa-trash"></i>
                    </a> 
                    </td>
                </tr>

            {% endfor %}
            
        </tbody>
        <tfoot>
            <td colspan="3" class="text-end">Total</td>
            <td>{{ total }}€</td>
            <a href="{{ path('commande_product') }}" type="submit" class="btn btn-success">Valider votre panier</a>
           
        </tfoot>
    
        
    </table>

{% else %}
    <div class="text-center">
    <span class="badge bg-info">Votre panier est vide</span>
    </div>
{% endif %}






{% endblock %}
